@media all(max-width:480px){
   h1{
     color: red;
   }
}
@media all(max-width:1000px){
  h1{
    color: black;
  }
}

body{
  background-color: aqua;
  color: #ffffff;
  
}

#btn {
  color: #000;
  min-height:50px;
  min-width:150px;
}

