@media all(max-width:480px){
  text-color: red;
  }
@media all(max-width:1000px){
  text-color: black;
  }

body{
  background-color: aqua;
  color: #ffffff;
  
}

#btn {
  color: #000;
  min-height:50px;
  min-width:150px;
}

