@media (min-width:480px){
  body{
  background-color: lightgreen;
    }
  }
@media (min-width:960px){
  body{
  background-color: beige; 
    }
  }

body{
  background-color: aqua;
  color: #ffffff;
  
}

#btn {
  color: #000;
  min-height:50px;
  min-width:150px;
}

